config DEBUG_INFO
	bool "Enable debug info"
	default y if DEBUG = "1"
	help
	This option causes the package to be built with full debugging
	information included. You'll need that information if you want to
	debug the package with gdb. You may also want to enable 
	CONFIG_FRAME_POINTER if you plan to use gdb.

config DEBUG_LIST                                                               
        bool "Debug linked list manipulation"
	default n
	depends on DEBUG_INFO
        help
          Enable this to turn on extended checks in the linked-list
          walking routines.

config DEBUG_HASH
	bool "Debug hash table manupulation"
	default n
	depends on DEBUG_INFO
	help
	  Enable this to turn on extended checks in the hash table warlking
          routines

config DEBUG_MEMPAGE
        bool "Debug memory pages"
        default n
        depends on DEBUG_INFO
        help
          Enable this to turn on extended checks in the memory pages routines.

          If unsure, say N.

config DEBUG_MEMPOOL
        bool "Debug memory pools"
	default n
        depends on DEBUG_INFO
        help
          Enable this to turn on extended checks in the memory pool routines.

          If unsure, say N.

config DEBUG_MEMSTACK
        bool "Debug memory stack"
        default n
        depends on DEBUG_INFO
        help
          Enable this to turn on extended checks in the memory stack routines.
          If unsure, say N.
